<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>教师反馈详情</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<include file="Public/head.html"/>
	<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                教师反馈详情表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="/Admin/Teachers/index.html">教师反馈</a></li>
                <li class="am-active">详情</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 详情
                    </div>
                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <foreach name="data"  item="data">
                             <form class="am-form am-form-horizontal" name="data">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">ID</label>
                                    <div class="am-u-sm-9">
                                        <input readonly="readonly" type="text" id="id" value="{$data.id}">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">老师姓名</label>
                                    <div class="am-u-sm-9">
                                        <input readonly="readonly" type="text" id="teachername" value="{$data.teachername}">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-email" class="am-u-sm-3 am-form-label">校区</label>
                                    <div class="am-u-sm-9">
                                        <input readonly="readonly" type="email" id="school" value="{$data.school}" >
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">日期</label>
                                    <div class="am-u-sm-9">
                                        <input readonly="readonly" type="date" id="date" value="{$data.date}">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-QQ"  class="am-u-sm-3 am-form-label">应到</label>
									<div class="am-u-sm-9">
										<input readonly="readonly" type="text" id="should"   value="{$data.should}">
									</div>
                                </div>

                               <div class="am-form-group">
                                    <label for="user-QQ"  class="am-u-sm-3 am-form-label">实到</label>
                                    <div class="am-u-sm-9">
                                        <input  readonly="readonly" type="text" id="rightnow"  value="{$data.rightnow}">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-QQ"  class="am-u-sm-3 am-form-label">缺勤</label>
                                    <div class="am-u-sm-9">
                                        <input readonly="readonly" type="text"  id="absent" value="{$data.absent}" >
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">请假</label>
                                    <div class="am-u-sm-9">
                                       <input readonly="readonly" type="text"  id="off"  value="{$data.off}">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">试课</label>
                                    <div class="am-u-sm-9">
                                       <input readonly="readonly" type="text"  id="lesson"  value="{$data.lesson}">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">备注</label>
                                    <div class="am-u-sm-9">
                                        <textarea readonly="readonly" class="" rows="5" id="remarks" >{$data.remarks}</textarea>
                                    </div>
                                </div> 
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">课后总结</label>
                                    <div class="am-u-sm-9">
                                        <textarea readonly="readonly" class="" rows="5" id="summary">{$data.summary}</textarea>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" ><a  href="index">返回</a></button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>










        </div>

    </div>
</body>

</html>